@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

@layer base {
  :root {
    --grid-margin: 0px;
    --accent-dark-color: var(--color-primary-400);
    --accent-light-color: var(--color-primary-600);
    --content-max-width: 1296px; // Adjust this value as needed
    @apply lg:[--grid-margin:2rem];
  }

  .content-grid {
    @apply gap-4 lg:gap-x-8;

    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--grid-margin), 1fr)
      [content-start]
        minmax(0, calc((var(--content-max-width) - 2 * var(--grid-margin)) / 12 * 2))
        [narrow-start]
          repeat(8, minmax(0, calc((var(--content-max-width) - 2 * var(--grid-margin)) / 12)))
        [narrow-end]
        minmax(0, calc((var(--content-max-width) - 2 * var(--grid-margin)) / 12 * 2))
      [content-end]
      minmax(var(--grid-margin), 1fr)
    [full-width-end];
  }

  .content-grid > :not(.content-full-width):not([class*="col-"]) {
    grid-column: content;
  }

  .content-grid > .content-full-width {
    grid-column: full-width;
  }

  @media (min-width: 1024px) {
    .content-grid > .content-narrow {
      grid-column: narrow !important;
    }
  }

  body {
    @apply antialiased h-full bg-gray-950 text-gray-50;
  }
}

@media (prefers-reduced-motion: reduce) {
  .transition {
    transition: none !important;
  }
}